body{ 
	background-color: #fafafa;
	font-size: 14px;
	font-family: Arial;
	/*background-image: url(https://mastrayasa.github.io/Personal-Blog/gambar/bg5.png);*/
	background-image: url(../gambar/bg.png); 

}

body > div{
	width: 730px;
	background: #fff;
	margin: 0 auto;
	padding: 4px;
	border: 1px solid #666;
}


body .header{
	background: #f2a2e4;
	padding: 10px;
	/*padding: 10px 30px;
	padding: 30px 40px 50px 60px;*/
	color: #fff
}

.header h1{
	padding: 0;
	margin: 0;
}

.header small{
	color:#fff;
}


/* Menu */
.menu{
	background: #444;
	padding: 10px;
	color:#fff;
}

.menu a{
	text-decoration: none;
	color: #fff;
	padding: 10px;
}

.menu a:hover{
	color: red;
	background: yellow; 
}

div.kiri{
	width: 220px;
	float: left;
}

.kiri .widget{
	margin-top: 20px;
	background: #ddd;
}

.kiri .widget h2{
	padding:0;
	margin:0;
	background: #666;
	color:#fff;
	padding:4px 15px;
	font-size: 16px;
}

.kiri .widget .widget-body{
	padding:0;
	margin:0;
	background: #fafafa;
	border:1px solid #eaeaea;
	padding:15px; 
}

div.kiri img{ 
	width: 88px;
	border:1px solid #111; 
}



/*div.tengah{
	padding: 20px;
	width: 180px;
	background: #898989;
	float: left;
}*/

div.kanan{
	width: 480px;
	padding: 15px;
	background: #fff;
	float: left;
}

/* batasi lebar gambar agar tidak melebihi kotak */
div.kanan img.gambar-konten{
	max-width: 100%;
}

div.footer{
	margin-top: 15px;
	padding: 15px 5px;
	background: #ccc;
	float: left;
	width: 720px;
	text-align: center;
	font-size: 80%;
}


.clear{
	clear: both;
}

table { 
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;

}


table td, table th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}


#pesanan-success{
	text-align: center;
}

input[type="button"],
input[type="submit"],
input[type="text"],
textarea,
select,
button{
	padding: 5px;
}












